@mixin mixButton($color: "", $background: "", $border: "") {
    @if $background != "" {
        background: $background;
    } @else {
        background: #fff;
    }

    @if $color != "" {
        color: $color;
    } @else {
        color: #369cb7;
    }

    @if $border != "" {
        border: 1px solid $border;
    } @else {
        border: 1px solid #369cb7;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        box-shadow: black 0px 0px 2px;
    }
}

@mixin mixStyleText($color: "") {
    @if $color != "" {
        color: $color;
    } @else {
        color: #369cb7;
    }

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
}
